body {
    color: #F9FAF8;
    font-family: Arial, "Times New Roman", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    margin: 0;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
}

.logo {
    font-size: 24px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
}

.main-box {
    display: flex;
    padding: 32px 200px;
    gap: 32px;
    justify-content: space-between;
}

.mainstuff {
    max-width: 350px;
} 

.herotext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.maintext {
    font-size: 18px;
    color: #E5E7EB;
}

.mainimage {
    max-height: 250px;
    max-width: auto;
    border-radius: 12px;
}

.info-box {
    background-color: white;
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.imageboxes {
    display: flex;
    gap: 16px;
}

.text {
    font-size: 18px;
    color: #1F2937;
    max-width: 128px;
}

.swordimage {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}

.swordimage img {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 12px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 64px 200px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937
}

.signature {
    font-size: 28px;
    font-weight: 700;
    color: #1F2937;

}

.lower-box {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 64px 200px;
}

.actionbox {
    display: flex;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 32px 128px;
    gap: 64px;
}

.actiontitle {
    font-size: 26px;
    font-weight: 700;
}

.actiontext {
    font-size: 16px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    border-style: none;
    padding: 8px 16px;
    max-width: 96px;
    max-height: 48px;
}

.signup {
    border-style: solid;
    border-color: white;
}

footer {
    display: flex;
    font-size: 18px;
    justify-content: center;
}

.copyright {
    padding-bottom: 32px;
}